@import url(variable.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.Tittle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Introduction h2{

}

.Introduction p{
    padding-top: 20px;
}

.Objective{
    padding-top: 20px;
}

.Objective h2{
    padding-top: 20px;
}

.Objective table{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: ;
    font-size: 16px;
}

table tr:first-child {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    vertical-align: top;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

td {
    color: #333;
}
.normalización{
    padding-top: 20px;
}

.normalización h2{

}

.normalización p{
    padding-top: 20px;
}

.onefn{
    padding-top: 20px;
}

.onefn h2{
}

.onefn h3{
    padding-top: 20px;
}

.onefn p{
    padding-top: 20px;
}

.twofn{
    padding-top: 20px;
}

.twofn h2{
}

.twofn h3{
    padding-top: 20px;
}

.twofn p{
    padding-top: 20px;
}

.threefn{
    padding-top: 20px;
}

.threefn h2{
}

.threefn h3{
    padding-top: 20px;
}

.threefn p{
    padding-top: 20px;
}





